<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848331948618-r6ejgc9iuclga8v66bsudtn3mhoi57dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848331948618-r6ejgc9iuclga8v66bsudtn3mhoi57dk</string>
	<key>API_KEY</key>
	<string>AIzaSyBdSXCN8rIlkOyeFXc-RzB1XYVpV-7Awx8</string>
	<key>GCM_SENDER_ID</key>
	<string>848331948618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.craftui.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>craftui</string>
	<key>STORAGE_BUCKET</key>
	<string>craftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848331948618:ios:7dabb742ece2da6f229cb3</string>
</dict>
</plist>